* {
  
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color: hotpink;
    font-style: italic;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}
.dottedline {
    border: dotted purple;
    border-width: 0px 0px 10px 0px;
    width: 100%;
}
h2{
  
    font-size: 1.05em;
    color: #999999;
    
}